{% extends "partials/base.html" %}

{% block title %}
Book List
{% endblock title %}

{% block body %}
<section class="book-list-container">
    <h1 class="book-list-title">Featured Books</h1>
    <ul class="book-list">
        {% for book in books %}
        <li class="book-list-item">
            <a href="{% url 'book_review:book_detail' book.id %}" class="book-list-button">  
                {{ book }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock body %}
