{% extends "partials/base.html" %}

{% block title %}
{{ movie.title }}
{% endblock title %}

{% block body %}
<div class="movie-details">
    <h1>{{ movie.title }}</h1>
    
    {% if movie.poster %}
        <img src="{{ movie.poster.url|default:'/media/default.jpg' }}" alt="{{ movie.title }}">
    {% endif %}
    
    <p><strong>Directed by:</strong> {{ movie.director }}</p>
    <p><strong>Release date:</strong> {{ movie.release_date }}</p>
    <p><strong>Genre:</strong> {{ movie.get_genre_display }}</p>
    <p><strong>Added by:</strong> {{ movie.added_by }}</p>

    <div>
        <h3>Synopsis</h3>
        <p>{{ movie.synopsis }}</p>
    </div>

    {% if request.user.is_authenticated %}
        {% if request.user == movie.added_by %}
        <div class="movie-actions">
            <a href="{% url 'movie:edit_movie' movie.id %}" class="btn btn-edit">Edit Movie</a>
            <a href="{% url 'movie:confirm_delete_movie' movie.id %}" class="btn btn-delete">Delete Movie</a>
        </div>
        {% endif %}
    {% endif %}
</div>
{% endblock body %}
