<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goald</title>
</head>
<body>
    <h1>My Goals</h1>
    <div>
        <p>
            My first goal is to become a competent Data Scientist.
        </p>
        <p>
            My Second goal is to be able to attain a PhD in Mathematics.
        </p>
        <p>
            My Third goal is to use my skills in ingenuity to contribute to major scientific breakthroughs.
        </p>
    </div>
</body>
</html>